*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
:root {
	--color-black: #06132d;
	--color-white: #ffffff;
	--color-grey: #cccccc;
	--color-gradient: linear-gradient(90deg, #9b107d 0%, #3c07c2 100%);
	--color-dark: #0e1e45;
}
body {
	background: var(--color-black);
	user-select: none;
}
img {
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--color-white);
}
h2 {
	font-weight: 700;
	font-size: clamp(25px, 5vw, 48px);
	line-height: 1.2;
	text-transform: capitalize;
}
p {
	margin: 0;
}
a {
	display: inline-block;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.row {
	display: flex;
}
.column {
	display: grid;
}
.container {
	max-width: 95%;
	margin: 0 auto;
}
.flex {
	flex-wrap: wrap;
	gap: 50px;
}
.flex > * {
	flex: 1 1 25em;
}

.d-none{
	display: none;
}
/* page button */
.page-btn, .toggleFilter, .filterOptions ul li{
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	white-space: nowrap;
	color: var(--color-white);
	background: transparent;
	box-shadow: 0px 0px 2px var(--color-white);
	padding: 0.7em 2em;
	border-radius: 8px;
	transition: 0.3s ease;
	border: 0;
}
.page-btn.active,
.page-btn:hover, .toggleFilter.active, .filterOptions ul li:hover {
	color: var(--color-white);
	background: var(--color-gradient);
	border-color: transparent;
}
/* end of page button */

/* Card */
.card {
	background: var(--color-dark);
	padding: 16px;
	border-radius: 15px;
}
.card-img img {
	padding-bottom: 15px;
	border-radius: 15px;
}
.card h3 {
	font-weight: 700;
	font-size: clamp(18px, 5vw, 32px);
}
.card-profile {
	align-items: center;
	gap: 8px;
	padding: 8px 0 0 0;
}
.card-profile div img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.card-profile h4 {
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
}
.card hr {
	border: 0;
	background: #e6e6e6;
	height: 1px;
}
.card-bid {
	flex-wrap: wrap;
	align-items: center;
	gap: clamp(5px, 2vw, 24px);
}
.card-bid > * {
	flex: 1 1 9em;
}
.card-bid p {
	font-size: 16px;
	color: var(--color-grey);
}
.card-bid h5 {
	font-weight: 700;
	font-size: 24px;
}
/* End Card */

/* nav */
header {
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 2.5em 0;
}
header p {
	font-weight: 700;
	color: white;
	font-size: 20px;
}
header span {
	font-weight: 500;
	color: rgb(216, 23, 230);
}
nav {
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}
nav ul {
	align-items: center;
	gap: 50px;
	margin: auto;
}

nav a {
	font-weight: 700;
	font-size: 16px;
	color: var(--color-grey);
	text-transform: capitalize;
}

.nav-active,
nav a:hover {
	color: var(--color-white);
}
/* end nav */

/* hero section */
.hero {
	align-items: center;
	padding: 2em 0;
}
.hero-content {
	max-width: 610px;
}
.hero-content h1 {
	font-weight: 700;
	font-size: clamp(30px, 4vw, 65px);
	line-height: 1.2;
}
.hero-content p {
	font-size: 16px;
	color: var(--color-grey);
	padding: 2em 0;
}
.hero-btns {
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 25px;
}
.hero-card {
	max-width: 500px;
	margin: 0 auto;
}
/* end hero section */

/* Live auction */
.live-auction,
.explore-art {
	padding: 2em 0;
}
.header-arrows {
	align-items: center;
	justify-content: center;
	gap: 2em;
}
.arrows {
	gap: 50px;
	height: 30px;
}
.arrows .swiper-button-next,
.arrows .swiper-button-prev {
	position: relative;
	background: var(--color-gradient);
	color: var(--color-white);
	padding: 0 1.5em;
	border-radius: 5px;
}
.swiper-button-prev::after {
	background-image: url(icon/left-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
}
.swiper-button-next::after {
	background-image: url(icon/right-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
}
.live-swiper .swiper-wrapper {
	padding: 20px 0;
}
.live-swiper .card-bid,
.column .card-bid {
	padding-top: 24px;
}
/* End Live Auction */

/* Explore Art Section */
.tags-filter {
	position: relative;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	padding-top: 2em;
}
.tags {
	align-items: center;
	gap: 16px;
	padding: 10px 0;
}

.tags p {
	text-transform: capitalize;
}
.explore-art p {
	color: white;
}
.explore-cards {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
	padding: 2em 0;
}
/* End Explore Art Section */

/* Filter Option */
.filter-body {
	position: relative;
}
.toggleFilter {
	gap: 10px;
}
.toggleFilter p {
	white-space: nowrap;
}
.toggleFilter img {
	width: 20px;
	background: white;
}
.filterOptions {
	position: absolute;
	top: 100%;
	width: 100%;
	min-height: 0;
	opacity: 0;
	transform: scale(0);
}
.filterOptions.active {
	min-height: 100%;
	opacity: 1;
	transform: scale(1);
	
	border-radius: 8px;
	text-align: center;
}
.filterOptions li {
	margin-top: 10px;
}
.explore-cards .card-bid div:nth-last-of-type(1) {
	max-width: fit-content;
}
/* End Filter Option */

/* media queries */
/* @media screen and (min-width: 1235px){
    .container{
        max-width: 1230px;
  
    }
}; */

@media screen and (max-width: 900px) {
	.toggleMenu {
		background-image: url(icon/menu.png);
		color: var(--color-white);
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: center;
		width: 30px;
		height: 30px;

		z-index: 1000;
		transition: background-size 0.3s ease-in-out;
	}
	.toggleMenu.active {
		position: fixed;
		right: 2.5%;
		background-image: url(icon/close.png);
		background-size: 25px;
	}
	.navigation {
		position: absolute;
		inset: 0;
		margin: auto;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 0;
		opacity: 0;
		transform: scale(0);
	}
	.navigation.active {
		position: fixed;
		min-height: 100%;
		opacity: 1;
		background: var(--color-black);
		z-index: 99;
		transform: scale(1);
	}
	nav ul {
		flex-direction: column;
		margin: unset;
	}
}

@media screen and (min-width: 600px) {
	.hero-btns {
		justify-content: flex-start;
	}
}
